@charset "UTF-8";

.login-box-bottom {width: 300px;}
.login-box {background-color: white;}

.signUp-box {background-color: white;}
.card {
	box-shadow: 3px 3px 3px 3px #ccc;
}

body {
	background-color: #F9F9F9;
}

a:hover {
	text-decoration: none;
}

#logo {
	font-style: italic;
	color: black;
}

header {
	height: 100px;
	
}


footer {
	height: 100px;
	

}

input[type="text"] {
	width: 300px;
}

input[type="password"] {
	width: 300px;
}

button[type="button"] {
	width: 300px;
}

.timeline-content {
	border: none;
}

