@charset "UTF-8";

a {color: black;}

a:hover {text-decoration: none; background-color: lime;}

#logo {font-style: italic;}

header {
	height: 100px;
}


.contents {
	height: 500px;
}

footer {
	height: 100px;
}

input[type="text"] {
	width: 300px;
}


input[type="password"] {
	width: 300px;
}

button[type="button"] {
	width: 300px;
}
